* { 
    margin: 0 ; 
    padding: 0;
}

body {
    font-family: Arial;
    margin: auto 40px;
    padding: 15px;
    border: 1px solid #ddd;
}

/* NavBar */
nav {
    display:flex;
    justify-content: space-between;
}

.logo span:first-of-type {
    font-weight: bold;
    margin-right: 10px;
}

.right-section {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn {
    color: black;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 7px;
    border: 1px solid #ddd;
    display:inline-block;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    line-height: 3rem;
}

.nextDay , .play {
    line-height: 1.5rem;
    font-weight: normal;
    width: 100px;
}

/* MAIN */
main {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
}

    /* Render coins */
#coin-container {
    border-bottom: 1px solid #ddd;
    display: flex;
    gap: 12px;
    justify-content: center;
    padding: 10px;
}

.coin {
    cursor: pointer;
}

.coin img {
    width: 30px;
}

.coin.selected img {
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
}

#selected-coin {
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center; 
    gap: 10px; 
    padding: 10px;
}

.selected-coin-image {
    width: 20px;
}

    /* Candlestick chart */
.chart {
    position: relative;
    height: 400px;
    border: 1px solid #ddd;
    margin: 10px -1px;
    padding: 3px;
    overflow: hidden;
}

.candlesticks-container {
    position: absolute;
    display: flex;
    height: 100%;
    width: max-content; 
    transition: transform 0.3s ease-in-out;
}

.stick {
    background: black;
    width: 1px;
    position: relative;
}

.bar {
    width: 7px;
    position: absolute;
    border: 1px solid black;
}

.chart .max-label,
.chart .min-label,
.chart .close-label {
    position: absolute;
    right: 10px;
    background: white;
    font-size: 12px;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
}

.chart .max-label {
    top: 0;
}

.chart .min-label {
    bottom: 0;
}

.chart .close-line {
    position: absolute;
    width: 100%;
    border-top: 1px dashed gray;
}

.chart .close-label {
    color: gray;
    transform: translateY(-50%);
}

#tooltip {
    /* For displaying the candlestick data */
    margin-left: 40px;
    color: rgb(208, 47, 60);
    font-size:medium;
}


    








